<html dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<meta name="viewport" content="width=device-width">
		<title><%= htmlWebpackPlugin.options.title %></title>
		<link rel="icon" href="//www.esri.com/favicon.ico">
	</head>
	<body>
		<!-- <div class="esri-header-barrier"></div> -->

		<div class='main-content'>

            <div id='viewDiv'></div>

            
            <!--
            <%= require('html-loader?interpolate!./test.template.html') %>

            <%= require('html-loader?interpolate!./foo.template.html') %>
            -->

            <div id='cardViewDiv'></div>


            <div id='practiceDiv'></div>

		</div>

		<!-- <div class="esri-footer-barrier"></div> -->

	</body>
</html>